name: Tests

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.markdown'
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.markdown'

jobs:
  unit_tests:
    name: Unit Tests
    if: "contains(github.event.commits[0].message, '[ci skip]') == false"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ruby:
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
        allow_failures:
          - false
        include:
          - os: ubuntu-latest
            ruby: ruby-head
            allow_failures: true
    env:
      ALLOW_FAILURES: "${{ matrix.allow_failures }}"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        run: "bundle exec rspec && bundle exec rake cucumber || $ALLOW_FAILURES"
